div {
   padding: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
}

#fl {
   color: blue;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sl {
   color: red;
   font-family: 'Courier New', Courier, monospace;
}

#tl {
   color: rgb(31, 110, 84);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
